{% block footer %}
	<footer class="">
		<div>
			<a href="{{ path('homepage') }}">
				<i class="fas fa-home"></i>
			</a>
			<a href="#">
				<i class="fas fa-tricks"></i>
			</a>
		</div>
	</footer>
{% endblock %}
