{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section class="wrapper-inputs">
		<h2 class="title">Réinitialisation de mot de passe</h2>
		<div class="input-container">
			{{ form_start(requestPassForm) }}
			<label for="{{ requestPassForm.email.vars.id }}">Adresse email</label>
			{{ form_widget(requestPassForm.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="input-container">
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</div>
		{{ form_end(requestPassForm) }}
	</section>
{% endblock %}
