@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary: #1b5b16;
    --secondary: #e1ad01;
    --title: #211000;
    --content: #707070;
    --background-color-footer: #f5f5f5;
    --font-title: "Libre Baskerville", serif;
    --font-content: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-title);
}

p,
a,
li,
.form-label {
    font-family: var(--font-content);
}

body {
    margin: auto;
}

section {
    min-height: 90dvh;
}

.grid-container {
    max-width: 1280px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    padding-left: 10px;
    width: 90%;
}

.flash {
    font-size: 16px;
}

/* Header */
header {
    background-color: white;
    opacity: 0.9;
    position: relative;
    z-index: 10;
}

.group-menus {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-left: -20px;
    height: 100px;
}

.logo {
    margin-right: auto;
    padding-left: 20px;
}

#toggle {
    display: none;
}

.active {
    color: var(--primary);
}

/* Hamburger */
.hamburger {
    z-index: 99;
    position: sticky;
    cursor: pointer;
    margin: 0 25px 20px 0;
}

.hamburger span {
    position: relative;
    width: 3em;
    height: 5px;
    display: block;
    border-radius: 3px;
    background-color: var(--primary);
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-right: -20px;
    background-color: white;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav {
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
}

.logo {
    display: none;
}

nav a {
    position: relative;
    text-decoration: none;
    color: var(--title);
    font-size: 2em;
    display: inline-block;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
    margin: 20px 10px 20px 20px;
    z-index: 20;
}

nav a:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: var(--primary) !important;
}

nav a:hover:before {
    height: 100%;
}

/* Animations */
.hamburger .top-bun {
    margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle:checked + .hamburger .top-bun {
    transform: rotate(135deg);
}

#toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
}

/* Hero */
.hero-image {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}

.hero-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
    z-index: 1;
}

/* Trick homepage */
.container-tricks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-trick {
    margin: 15px 15px 30px 15px;
    width: 100%;
}

.card-header {
    width: 100%;
}

.card-header img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.card-content {
    width: 80%;
    padding-left: 30px;
}

.card-content a {
    color: var(--font-title);
    font-size: 20px;
}

.card-actions {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-actions a {
    color: var(--content);
}

.card-actions a:hover {
    color: var(--primary);
}

.card-actions i {
    font-size: 20px;
    text-decoration: none;
}

.wrapper-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-actions {
    background-color: unset !important;
    color: var(--content) !important;
    padding: 0 !important;
}

.btn-actions:hover {
    color: var(--primary) !important;
}

.text-overflow {
    text-overflow: ellipsis;
    min-width: 125px;
    overflow-x: hidden;
}

/* Trick detail */
.container-trick-detail {
    position: relative;
    margin: auto;
}

.trick-media-detail {
    position: relative;
    overflow: hidden;
}

.trick-media-detail img {
    width: 100%;
    height: auto;
    display: block;
}

.trick-info-detail {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
}

.trick-actions-detail {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    z-index: 1;
    padding: 10px;
    width: unset !important;
    background-color: white;
    border: 1px solid var(--primary);
}

.trick-actions-detail a {
    margin-right: 10px;
}

.trick-info-detail h2 {
    margin: 0;
}

.trick-info-detail p {
    margin: 0;
}

.container-infos-detail {
    margin-top: -20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-infos-detail p {
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.infos-date {
    text-align: center;
}

.infos-date span {
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    margin: 5px;
}

/* list media */
.container-trick-media {
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;
    display: none;
}

.list-pictures {
    margin: 10px;
}

.list-pictures img,
.list-pictures iframe {
    min-width: 370px;
    min-height: 275px;
}

#seeMedia,
#seeMediaVideos {
    margin: 20px auto 30px;
    display: flex;
    float: unset;
}

/* Inputs */
.wrapper-inputs {
    max-width: 100%;
    padding: 20px;
}

.wrapper-inputs form {
    margin-bottom: 65px;
}

.wrapper-inputs button {
    float: right;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input,
.input-container textarea {
    margin-top: 10px;
}

.input-container textarea {
    height: 100px;
    margin-bottom: 15px;
    resize: none;
}

.trick-textarea {
    resize: vertical;
    min-height: 200px;
}

.form-control,
.register input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.video-url {
    margin-bottom: 10px;
}

.btn {
    padding: 12px 22px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: var(--font-content);
    font-weight: 500;
    letter-spacing: 1.2px;
    text-decoration: none;
}

.btn-add {
    float: unset !important;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.btn:hover {
    background-color: var(--secondary);
}

.wrapper-inputs form input[type="text"]:focus,
.wrapper-inputs form input[type="email"]:focus,
.wrapper-inputs form input[type="password"]:focus,
.wrapper-inputs form textarea:focus,
.wrapper-inputs form input[type="text"]:hover,
.wrapper-inputs form input[type="email"]:hover,
.wrapper-inputs form input[type="password"]:hover,
.wrapper-inputs form textarea:hover,
.wrapper-add-comment form textarea:focus,
.wrapper-add-comment textarea:hover {
    border-color: var(--primary);
    border-width: 2px;
    box-shadow: 0 0 5px rgba(var(--primary), 0.5);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-container,
.btn {
    animation: fadeInUp 0.5s ease-in-out;
}

/* Edit page */
.image-thumbnail {
    position: relative;
    display: inline-block;
}

.edit-centered-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-bottom: 10px;
}

.delete-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    padding: 5px;
}

.delete-image i {
    font-size: 24px;
    color: var(--primary);
}

.delete-image i:hover {
    color: var(--secondary);
}

.video-input-edit {
    margin-bottom: 5px;
    display: none;
}

.trick-media-container .trick-media {
    min-height: 250px;
}

.edit-media-input .card-actions {
    width: unset;
    margin: 10px;
}

.container-trick-videos {
    display: none;
}

/* Comments */
.comments-list {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.comments-list h4,
.comment-date {
    text-align: center;
}

.no-comments {
    text-align: center;
}

.wrapper-add-comment {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.wrapper-add-comment h4 {
    letter-spacing: 1px;
    text-align: center;
}

.wrapper-add-comment textarea {
    resize: vertical !important;
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    outline: 0;
}

.wrapper-add-comment .btn {
    float: right;
}

.btn-comments {
    margin: 30px auto;
    display: flex;
}

.btn-comments a {
    color: white;
    text-decoration: none;
}

.center-flash {
    text-align: center;
    margin-top: 30px;
}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: var(--primary);
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: var(--secondary);
    color: white;
}

.pagination .active {
    background-color: var(--secondary);
    color: white;
    cursor: default;
}

/* Footer */
footer {
    background-color: var(--background-color-footer);
    margin-top: 30px;
    min-height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Arrow */
.scroll-down-arrow {
    position: absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    box-shadow: 0 0 5px rgba(var(--primary), 0.1);
    animation: bounce 2s ease-in-out infinite;
    will-change: transform;
}

.scroll-up-arrow {
    position: fixed;
    bottom: 100px;
    right: 80px;
    cursor: pointer;
    font-size: 30px;
    color: var(--secondary);
    z-index: 10;
    animation: bounce 2s ease-in-out infinite;
    will-change: transform;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

@media all and (min-width: 768px) {
    .card-trick {
        width: 45%;
    }
    .card-header img {
        height: 350px;
    }
    .list-pictures img,
    .list-pictures iframe {
        min-width: 350px;
        width: 0;
    }
    .infos-date span {
        margin: 10px;
    }
}

@media all and (min-width: 1024px) {
    .wrapper-inputs {
        max-width: 600px;
        margin: 0 auto;
    }
    .group-menus {
        margin-left: 0;
        justify-content: flex-start;
    }
    .hamburger {
        display: none;
    }
    .nav {
        all: unset;
    }
    .nav-wrapper {
        all: unset;
    }
    nav {
        all: unset;
    }
    nav a {
        color: var(--title);
        font-size: 20px;
        padding-right: 10px;
    }
    .logo {
        display: block;
    }
    .card-trick {
        max-width: 17%;
        margin-right: 20px;
    }
    .card-header img {
        height: 150px;
    }
    .card-content {
        width: calc(20% - 20px);
        padding-left: 10px;
        white-space: nowrap;
    }
    .card-actions {
        width: 30%;
        justify-content: center;
    }
    .card-actions i {
        padding: 10px;
    }
    .list-pictures img,
    .list-pictures iframe {
        min-width: 300px;
    }
    .container-trick-media {
        display: flex;
    }
    #seeMedia,
    #seeMediaVideos {
        display: none;
    }
    .edit-media-input .card-actions {
        width: unset;
        margin: 10px;
        justify-content: space-around;
    }
    .container-trick-videos {
        display: block;
    }
}
