@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary: #1b5b16;
    --secondary: #e1ad01;
    --title: #211000;
    --content: #707070;
    --background-color-footer: #f5f5f5;
    --font-title: "Libre Baskerville", serif;
    --font-content: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-title);
}

p,
a,
li,
.form-label {
    font-family: var(--font-content);
}

body {
    margin: auto;
}

section {
    min-height: 90vh;
}

.grid-container {
    max-width: 1280px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    padding-left: 10px;
    width: 90%;
}

/* Header */
header {
    background-color: white;
    opacity: 0.9;
}

.group-menus {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-left: -20px;
    height: 100px;
}

.logo {
    margin-right: auto;
    padding-left: 20px;
}

#toggle {
    display: none;
}

.active {
    color: var(--primary);
}

/* Hamburger */
.hamburger {
    z-index: 99;
    position: sticky;
    cursor: pointer;
    margin: 0 25px 20px 0;
}

.hamburger span {
    position: relative;
    width: 3em;
    height: 5px;
    display: block;
    border-radius: 3px;
    background-color: var(--primary);
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-right: -20px;
    background-color: white;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav {
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
}

.logo {
    display: none;
}

nav a {
    position: relative;
    text-decoration: none;
    color: var(--title);
    font-size: 2em;
    display: inline-block;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
    margin: 20px 10px 20px 20px;
}

nav a:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: var(--primary) !important;
}

nav a:hover:before {
    height: 100%;
}

/* Animations */
.hamburger .top-bun {
    margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -5px;
}

#toggle:checked + .hamburger .top-bun {
    transform: rotate(135deg);
}

#toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
}

/* Hero */
.hero-image {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
}

/* Trick homepage */
.container-tricks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-trick {
    margin: 15px 15px 30px 15px;
    width: 100%;
}

.card-header {
    width: 100%;
}

.card-header img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.card-content {
    width: 80%;
    padding-left: 30px;
}

.card-content a {
    color: var(--font-title);
    font-size: 20px;
}

.card-actions {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.card-actions a {
    color: var(--content);
}

.card-actions a:hover {
    color: var(--primary);
}

.card-actions i {
    font-size: 20px;
    text-decoration: none;
}

.wrapper-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Trick detail */
.container-trick-detail {
    position: relative;
    margin: auto;
}

.trick-media-detail {
    position: relative;
    overflow: hidden;
}

.trick-media-detail img {
    width: 100%;
    height: auto;
    display: block;
}

.trick-info-detail {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
}

.trick-actions-detail {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    z-index: 1;
    padding: 10px;
    width: unset !important;
    background-color: white;
    border: 1px solid var(--primary);
}

.trick-actions-detail a {
    margin-right: 10px;
}

.trick-info-detail h2 {
    margin: 0;
}

.trick-info-detail p {
    margin: 0;
}

.container-infos-detail {
    margin-top: -20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-infos-detail p {
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.infos-date {
    text-align: center;
}

.infos-date span {
    border: 1px solid var(--primary);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* list media */
.container-trick-media {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.list-pictures {
    margin: 10px 10px 10px 0px;
}

.list-pictures img {
    width: 300px;
    margin: 10px 10px 10px 0px;
}

/* Inputs */
.wrapper-inputs {
    max-width: 100%;
    padding: 20px;
}

.wrapper-inputs form {
    margin-bottom: 65px;
}

.wrapper-inputs button {
    float: right;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input,
.input-container textarea {
    margin-top: 10px;
}

.input-container textarea {
    height: 100px;
    margin-bottom: 15px;
    resize: none;
}

.form-control,
.register input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.btn {
    padding: 12px 22px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: var(--font-content);
    font-weight: 500;
    letter-spacing: 1.2px;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary);
}

.wrapper-inputs form input[type="text"]:focus,
.wrapper-inputs form input[type="email"]:focus,
.wrapper-inputs form input[type="password"]:focus,
.wrapper-inputs form textarea:focus,
.wrapper-inputs form input[type="text"]:hover,
.wrapper-inputs form input[type="email"]:hover,
.wrapper-inputs form input[type="password"]:hover,
.wrapper-inputs form textarea:hover,
.wrapper-add-comment form textarea:focus,
.wrapper-add-comment textarea:hover {
    border-color: var(--primary);
    border-width: 2px;
    box-shadow: 0 0 5px rgba(var(--primary), 0.5);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-container,
.btn {
    animation: fadeInUp 0.5s ease-in-out;
}

/* Footer */
footer {
    background-color: var(--background-color-footer);
    margin-top: 30px;
    min-height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 768px) {
    .card-trick {
        width: 45%;
    }
    .card-header img {
        height: 350px;
    }
}

@media all and (min-width: 1024px) {
    .wrapper-inputs {
        max-width: 600px;
        margin: 0 auto;
    }
    .group-menus {
        margin-left: 0;
        justify-content: flex-start;
    }
    .hamburger {
        display: none;
    }
    .nav {
        all: unset;
    }
    .nav-wrapper {
        all: unset;
    }
    nav {
        all: unset;
    }
    nav a {
        color: var(--title);
        font-size: 20px;
        padding-right: 10px;
    }
    .logo {
        display: block;
    }
    .card-trick {
        max-width: 17%;
        margin-right: 20px;
    }
    .card-header img {
        height: 150px;
    }
    .card-content {
        width: calc(20% - 20px);
        padding-left: 10px;
        white-space: nowrap;
    }
    .card-actions {
        width: 30%;
        justify-content: center;
    }
    .card-actions i {
        padding: 10px;
    }
}
