{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<main>
		<div class="hero-image" style="background-image: url('{{ asset('assets/hero/mountain-snow.jpg') }}');">
			<div class="hero-text">
				<h2>Plongez dans l'univers du snowboard et partagez vos expériences avec des passionnés comme vous !</h2>
			</div>
		</div>
		<div class="scroll-down-arrow" onclick="scrollToTricks()">
			<i class="fas fa-solid fa-arrow-down"></i>
		</div>
		{% include 'trick/index.html.twig' %}
	</main>

{% endblock %}
