</form>
<form method="post" action="{{ path('app_trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce trick ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
	{% if app.request.attributes.get('_route') == 'app_trick_edit' %}
		<button class="btn" style="margin-right: 5px;">
			Supprimer
		</button>
	{% else %}
		<button class="btn btn-actions">
			<i class="fa fa-trash-o"></i>
		</button>
	{% endif %}
</form>
